Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, push_packages, publish_s3, build_images

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  tags: ["wakemebot"]

stages:
  - build
  - push
  - publish

.no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - ops2deb-*.yml
      when: on_success

.prod_no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - ops2deb-*.yml
      when: on_success

.parallel_component:
  parallel:
    matrix:
      - component: desktop
      - component: dev
      - component: devops
      - component: secops
      - component: terminal

.parallel_distro:
  parallel:
    matrix:
      - DISTRO: ubuntu
        VERSION: ["latest", "rolling", "20.04", "18.04"]
      - DISTRO: debian
        VERSION:
          ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]

generate_packages:
  image: ghcr.io/upciti/ops2deb:latest
  stage: build
  extends:
    - .no_schedule
    - .parallel_component
  script:
    - make generate-${component}
    - make build-${component}
  artifacts:
    paths:
      - build/**/*deb
    expire_in: 2 days

push_packages:
  image: upciti/wakemebot:latest
  stage: push
  extends:
    - .prod_no_schedule
    - .parallel_component
  script:
    - make push-${component}

publish_s3:
  image: upciti/wakemebot:latest
  stage: publish
  extends: .prod_no_schedule
  script:
    - make publish

build_images:
  image: quay.io/buildah/stable:v1.23.1
  stage: publish
  tags: ["docker"]
  needs: []
  variables:
    REGISTRY_USER: "wakemeops"
  parallel:
    matrix:
      - IMAGE: ubuntu
        TAG: ["latest", "rolling", "20.04", "18.04"]
        REGISTRY_NAME: ubuntu
      - IMAGE: debian
        TAG: ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]
        REGISTRY_NAME: debian
      - IMAGE: bitnami/minideb
        TAG: ["latest", "bullseye", "buster"]
        REGISTRY_NAME: minideb
  retry: 1
  before_script:
    - IMAGE_NAME="${REGISTRY_USER}/${REGISTRY_NAME}:${TAG}"
    - buildah login -u ${REGISTRY_USER} -p ${REGISTRY_TOKEN} docker.io
  script:
    - >
      buildah bud \
        -f ./Dockerfile \
        -t ${IMAGE_NAME} \
        --build-arg IMAGE=${IMAGE} \
        --build-arg TAG=${TAG} \
        --label org.wakemeops.maintainers="WakeMeOps <wakemeops.com>" \
        --label org.wakemeops.base_image="docker.io/${IMAGE}:${TAG}" \
        --label org.wakemeops.commit="${CI_COMMIT_SHA}" \
        .
    - buildah push --authfile /run/containers/0/auth.json ${IMAGE_NAME}
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "schedule"'
      changes:
        - Dockerfile
        - .gitlab-ci.yml
        - assets/**/*
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $BUILD_IMAGES == "1"'

fix(devops): cleanup blueprints
  ops2deb-dev.yml
  ops2deb-devops.yml
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated ops2deb from 0.21.0 to 0.21.1
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(ci): save only 3 versions per package for desktop and terminal component
  Makefile
Due: none

feat(devops): add docker-slim package
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated wakemebot from 1.6.1 to 2.0.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated yq from 4.18.1 to 4.19.1
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated flux from 0.26.1 to 0.26.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated himalaya from 0.5.4 to 0.5.5
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated kustomize from 4.5.1 to 4.5.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated skaffold from 1.35.0 to 1.36.0
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated flux from 0.26.2 to 0.26.3
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated poetry from 1.1.12 to 1.1.13
  ops2deb-dev.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated istioctl from 1.11.6 to 1.12.3
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated istioctl from 1.12.3 to 1.13.0
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

fix(docs): fix documentation url
  mkdocs.yml
Due: none

chore: add prettier pre-commit configuration
  .pre-commit-config.yaml
Due: none

chore: run prettier pre-commit
  .github/workflows/check_blueprints.yml
  .github/workflows/stale.yml
  .github/workflows/update_blueprints.yml
  .github/workflows/update_documentation.yml
  .gitlab-ci.yml
  docs/css/extra.css
  docs/theme_override_home/home.css
  docs/theme_override_home/home.html
  mkdocs.yml
Due: build_images

feat(docs): add favicon and logo
  docs/images/colored-logo.png
  docs/images/pink-logo.png
  docs/images/white-logo.png
  mkdocs.yml
Due: none

feat(docs): switch to a dark theme
  docs/css/extra.css
  docs/theme_override_home/home.css
  mkdocs.yml
Due: none

chore(bot): updated ghorg from 1.7.6 to 1.7.7
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

feat(readme): add header with wakemeops logo
  README.md
Due: none
