Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  image: upciti/wakemebot:latest
  tags: ["wakemebot"]

stages:
  - build
  - test
  - push
  - publish
  - pages

.no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - ops2deb-*.yml
      when: on_success

.prod_no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - ops2deb-*.yml
      when: on_success

.parallel_component:
  parallel:
    matrix:
      - component: desktop
      - component: dev
      - component: devops
      - component: secops
      - component: terminal

.parallel_distro:
  parallel:
    matrix:
      - DISTRO: ubuntu
        VERSION: ["latest", "rolling", "20.04", "18.04"]
      - DISTRO: debian
        VERSION:
          ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]

.install_dependencies: &install_dependencies
  - apt-get update
  - apt-get install -y ${APT_DEPENDENCIES}

generate_packages:
  stage: build
  extends:
    - .no_schedule
    - .parallel_component
  script:
    - make generate-${component}
    - make build-${component}
  artifacts:
    paths:
      - build/**/*deb
    expire_in: 2 days

test_packages:
  stage: test
  image: wakemeops/${DISTRO}:${VERSION}
  extends:
    - .no_schedule
    - .parallel_distro
  before_script:
    - *install_dependencies
    - make install-packages
  script:
    - make check-packages
  variables:
    APT_DEPENDENCIES: "make"

push_packages:
  stage: push
  extends:
    - .prod_no_schedule
    - .parallel_component
  script:
    - make push-${component}

publish_s3:
  stage: publish
  extends: .prod_no_schedule
  script:
    - make publish

pages:
  stage: pages
  script:
    - make docs
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - docs/**/*
        - mkdocs.yml
  tags: []
  needs: []

buildah:
  image: quay.io/buildah/stable:v1.23.1
  extends: .parallel_distro
  stage: publish
  tags: ["docker"]
  retry: 1
  before_script:
    - IMAGE_NAME="wakemeops/${DISTRO}:${VERSION}"
    - buildah login -u ${REGISTRY_USER} -p ${REGISTRY_TOKEN} docker.io
  script:
    - >
      buildah bud \
        -f ./Dockerfile \
        -t ${IMAGE_NAME} \
        --build-arg IMAGE=${DISTRO} \
        --build-arg TAG=${VERSION} \
        --label org.wakemeops.maintainers="WakeMeOps <wakemeops.com>" \
        --label org.wakemeops.base_image="docker.io/${DISTRO}:${VERSION}" \
        --label org.wakemeops.commit="${CI_COMMIT_SHA}" \
        .
    - buildah push --authfile /run/containers/0/auth.json ${IMAGE_NAME}
  needs: []
  variables:
    REGISTRY_USER: "wakemeops"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "schedule"'
      changes:
        - Dockerfile
        - .gitlab-ci.yml
        - assets/**/*
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $BUILD_CONTAINER == "1"'

chore(ci): use wakemeops repo in documentation workflow
  .github/workflows/update_documentation.yml
Due: none

chore(docs): update documentation
  docs/components/devops.md
  docs/components/terminal.md
Due: pages

chore(bot): updated chezmoi from 2.10.0 to 2.10.1
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/terminal.md
Due: pages

feat(devops): add terraform docs
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated helm from 3.7.2 to 3.8.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
  docs/theme_override_home/home.html
Due: pages

chore(bot): updated ops2deb from 0.19.1 to 0.20.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated datree from 0.15.0 to 0.15.5 Updated k9s from 0.25.10 to 0.25.18 Updated wakemebot from 1.4.3 to 1.4.4 Updated curlie from 1.6.0 to 1.6.7
  ops2deb-devops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated gitlab-release-cli from 0.10.0 to 0.11.0 Updated kubectl from 1.23.2 to 1.23.3 Updated waypoint from 0.7.0 to 0.7.1 Updated mergestat from 0.5.1 to 0.5.2
  ops2deb-devops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated pyenv from 2.2.3 to 2.2.4 Updated skaffold from 1.35.2 to 1.35.0
  ops2deb-dev.yml
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
Due: pages

chore(bot): updated procs from 0.12.0 to 0.12.1
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated pyenv from 2.2.4 to 2.2.4-1 Updated kubeseal from 0.17.2 to 0.17.3 Updated vault from 1.9.2 to 1.9.3
  ops2deb-dev.yml
  ops2deb-devops.yml
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated xh from 0.14.1 to 0.15.0
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
Due: pages

chore(bot): updated yq from 4.17.2 to 4.18.1
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(make): update wakemeops url
  Makefile
Due: none

feat(devops): add iamlive package
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(terminal): add himalaya package
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3
