Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*

chore(bot): update blueprints Updated blabla from v1 to v2
  hello
Due: none

fix(docs): spelling correction
  docs/theme_override_home/home.html
Due: pages

chore(ci): add workflow to bump blueprints
  .github/workflows/check_blueprints.yml
  .github/workflows/update_blueprints.yml
  .gitlab-ci.yml
Due: buildah

chore(ci): improve commit messages in update blueprints pr
  .github/workflows/update_blueprints.yml
Due: none

chore(bot): update blueprints
  test
Due: none

fix(ops2deb): add dependency on unzip
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): improve commit in update blueprints pr
  .github/workflows/update_blueprints.yml
Due: none

chore(bot): updated aaa from 1.0.0 to 2.0.0
  test
Due: none

chore(ci): improve commit in update blueprints pr
  .github/workflows/update_blueprints.yml
  .github/workflows/update_documentation.yml
Due: none

chore(docs): update documentation
  docs/components/devops.md
Due: pages

chore(bot): updated ops2deb from 0.17.1 to 0.17.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): allow to manually trigger updates
  .github/workflows/update_blueprints.yml
  .github/workflows/update_documentation.yml
Due: none

chore(bot): updated wakemebot from 1.3.1 to 1.3.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): update commit message, use wakemebot package
  .github/workflows/update_documentation.yml
Due: none

chore(ci): use wakemebot image
  .github/workflows/update_documentation.yml
Due: none

chore(bot): update blueprints Updated ops2deb from 0.17.2 to 0.18.0 Updated wakemebot from 1.3.2 to 1.4.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(docs): install specific version
  docs/getting-started.md
Due: pages

feat(docs): add docker images to documentation
  docs/getting-started.md
  mkdocs.yml
Due: pages

chore(docs): set edit_uri to main branch
  mkdocs.yml
Due: pages

refactor(docs): restructure and improve documentation
  docs/getting-started.md
  docs/usage.md
  mkdocs.yml
Due: pages
