Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, push_packages, publish_s3, build_images

generate_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  image: ghcr.io/upciti/ops2deb:latest
  stage: build
  script:
  - make generate-${component}
  - make build-${component}
  artifacts:
    paths:
    - build/**/*deb
    expire_in: 2 days

push_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  image: upciti/wakemebot:latest
  stage: push
  script:
  - make push-${component}

publish_s3:
  image: upciti/wakemebot:latest
  stage: publish
  script:
  - make publish

build_images:
  image: quay.io/buildah/stable:v1.23.1
  stage: publish
  tags:
  - docker
  needs: []
  variables:
    REGISTRY_USER: wakemeops
  parallel:
    matrix:
    - IMAGE: ubuntu
      TAG:
      - latest
      - rolling
      - '20.04'
      - '18.04'
      REGISTRY_NAME: ubuntu
    - IMAGE: debian
      TAG:
      - latest
      - bookworm
  ...

chore(bot): updated wakemebot from 3.1.0 to 3.1.1
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(devops): update minio packages
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): update blueprints Updated docker-compose from 2.8.0 to 2.9.0 Updated istioctl from 1.14.1 to 1.14.3 Updated vault from 1.11.1 to 1.11.2
  ops2deb-devops.yml
  ops2deb-secops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated infracost from 0.10.8 to 0.10.9
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated kustomize from 4.5.6 to 4.5.7
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): update blueprints Updated pyenv from 2.3.2 to 2.3.3 Updated carvel-kapp from 0.50.0 to 0.51.0 Updated k9s from 0.26.0 to 0.26.1 Updated packer from 1.8.2 to 1.8.3
  ops2deb-dev.yml
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated minikube from 1.26.0 to 1.26.1
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated scala-cli from 0.1.10 to 0.1.11
  ops2deb-dev.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated k9s from 0.26.1 to 0.26.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated ghorg from 1.8.0 to 1.8.1
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated k9s from 0.26.2 to 0.26.3
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated datree from 1.6.0 to 1.6.6
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated wakemebot from 3.1.1 to 4.0.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(ci): move package publication to github action
  .github/workflows/build_and_publish_packages.yml
  .gitlab-ci.yml
  Makefile
Due: build_images

chore(ci): fix publish packages job
  .github/workflows/build_and_publish_packages.yml
Due: none

fix(devops): set scw package revision to 3
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(ci): fix publish packages job when there is no artifact
  .github/workflows/build_and_publish_packages.yml
Due: none

chore(bot): updated tflint from 0.39.1 to 0.39.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(ci): use a more lightweight wakemebot docker image
  .github/workflows/build_and_publish_packages.yml
Due: none

chore(ci): move docker-publish to github action
  .github/workflows/build_and_publish_docker_images.yml
  .gitlab-ci.yml
Due: build_images

feat(secops): add kubeaudit
  ops2deb-secops.yml
Due: generate_packages, push_packages, publish_s3

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  build_images: any of: Dockerfile, .gitlab-ci.yml, assets/**/*
