Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

generate_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: build
  script:
  - make generate-${component}
  - make build-${component}
  artifacts:
    paths:
    - build/**/*deb
    expire_in: 2 days

test_packages:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '20.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  stage: test
  ...

push_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: push
  script:
  - make push-${component}

publish_s3:
  stage: publish
  script:
  - make publish

pages:
  stage: pages
  script:
  - make docs
  artifacts:
    paths:
    - public
  tags: []
  needs: []

buildah:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '20.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  image: quay.io/buildah/stable:v1.23.1
  ...

chore(bot): update blueprints Updated argocd from 2.2.2 to 2.2.3 Updated flux from 0.25.2 to 0.25.3
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated boundary from 0.7.3 to 0.7.4
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated istioctl from 1.12.1 to 1.12.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
Due: pages

feat(ci): add minideb images
  .github/workflows/check_blueprints.yml
  .gitlab-ci.yml
Due: buildah

chore(ci): refactor build image job
  .gitlab-ci.yml
Due: buildah

chore(bot): updated packer from 1.7.8 to 1.7.9
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated kubectl from 1.23.1 to 1.23.2 Updated terraform from 1.1.3 to 1.1.4
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated minikube from 1.24.0 to 1.25.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
Due: pages

fix(ci): patch variable name
  .gitlab-ci.yml
Due: buildah

fix!: add wakemeops prefix to repo url
  Makefile
  assets/install_repository
Due: buildah

chore(bot): updated minikube from 1.25.0 to 1.25.1
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(kubeseal): update release url
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated kubeseal from 0.17.1 to 0.17.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add a few arm packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): add minideb images
  .github/workflows/check_blueprints.yml
  .github/workflows/update_blueprints.yml
  README.md
  docs/usage.md
Due: pages

chore(bot): update blueprints Updated ops2deb from 0.19.0 to 0.19.1 Updated wakemebot from 1.4.1 to 1.4.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated yq from 4.16.2 to 4.17.2
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated mergestat from 0.5.0 to 0.5.1
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated wakemebot from 1.4.2 to 1.4.3
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): use wakemeops repo in documentation workflow
  .github/workflows/update_documentation.yml
Due: none

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*
