Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*

feat(make): add make-exec
  Makefile
Due: none

feat(secops): add boundary package
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentations
  docs/components/devops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

chore(bot): update packages
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add stern package
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(makefile): patch make usage
  Makefile
Due: none

chore(docs): update documentation
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

feat(terminal): add mergestat
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(terminal|mergestat): update description
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(terminal|bottom): update homepage
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(ci): use ubuntu 20.04 instead of 21.04
  .gitlab-ci.yml
Due: buildah

fix(devops|vagrant): remove vagrant
  docs/components/devops.md
  docs/theme_override_home/home.html
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3, pages

feat(packages): add arm and arm64 support for a few blueprints
  Makefile
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
  docs/components/terminal.md
  docs/css/extra.css
Due: pages

chore(docs): add missing arm64 packages
  docs/components/terminal.md
Due: pages

fix(docker): setup locals in docker images
  .dockerignore
  Dockerfile
Due: buildah
