Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*

chore(ci|docs): add cron job to update documentation
  .github/workflows/update_documentation.yml
Due: none

chore(docs): update documentation
  docs/components/terminal.md
Due: pages

fix(devops|ops2deb): fix fetch url
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): fix ci, image wakemeops/ubuntu:21.04 was deleted
  .github/workflows/check_blueprints.yml
Due: none

chore(docs): update documentation
  docs/components/devops.md
  docs/components/terminal.md
Due: pages

fix(devops): add container-structure-test homepage
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(minio): update minio and mc packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
Due: pages

chore(packages): edit packages description
  ops2deb-dev.yml
  ops2deb-devops.yml
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(package): add packages dependencies
  ops2deb-dev.yml
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add wakemebot
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
  docs/theme_override_home/home.html
Due: pages

chore(ci): add workflow to bump blueprints
  .github/workflows/check_blueprints.yml
  .github/workflows/update_blueprints.yml
Due: none
