Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*

feat(docs): add docker images to documentation
  docs/getting-started.md
  mkdocs.yml
Due: pages

refactor(docs): restructure and improve documentation
  docs/getting-started.md
  docs/usage.md
  mkdocs.yml
Due: pages

chore(ci): fix update documentation workflow
  .github/workflows/update_documentation.yml
Due: none

chore(docs): polish usage page, reduce package badge size
  docs/css/extra.css
  docs/usage.md
  mkdocs.yml
Due: pages

chore(bot): updated wakemebot from 1.4.0 to 1.4.1
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(docs): patch debian version
  docs/usage.md
Due: pages

chore(bot): updated flux from 0.24.1 to 0.25.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): rename a few sections in usage.md
  docs/usage.md
Due: pages

chore(ci): fix update documentation
  .github/workflows/update_documentation.yml
Due: none

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
Due: pages

chore(bot): updated devspace from 5.18.1 to 5.18.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
Due: pages

chore(ci): add stale workflow
  .github/workflows/stale.yml
Due: none

chore(bot): update blueprints Updated flux from 0.25.0 to 0.25.1 Updated logcli from 2.4.1 to 2.4.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(desktop): add mattermost desktop
  ops2deb-desktop.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat: add desktop component
  .gitlab-ci.yml
  assets/install_repository
  docs/components/desktop.md
  mkdocs.yml
Due: pages, buildah

chore(docs): update documentation
  docs/components/desktop.md
  docs/components/devops.md
Due: pages

chore(docs): update documentation
  docs/components/desktop.md
  docs/theme_override_home/home.html
Due: pages

chore(docs): add desktop component
  docs/usage.md
Due: pages

chore(bot): updated datree from 0.14.49 to 0.15.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update blueprints Updated flux from 0.25.1 to 0.25.2 Updated waypoint from 0.6.3 to 0.7.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3
