Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

generate_packages:
  parallel:
    matrix:
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: build
  script:
  - make generate-${component}
  - make build-${component}
  artifacts:
    paths:
    - build/**/*deb
    expire_in: 2 days

test_packages:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '21.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  stage: test
  ...

push_packages:
  parallel:
    matrix:
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: push
  script:
  - make push-${component}

publish_s3:
  stage: publish
  script:
  - make publish

pages:
  stage: pages
  script:
  - make docs
  artifacts:
    paths:
    - public
  tags: []
  needs: []

buildah:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '21.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  image: quay.io/buildah/stable:v1.23.1
  ...

chore(docs): update repo url to github.com
  README.md
  docs/theme_override_home/home.html
  mkdocs.yml
Due: pages

chore(bot): update packages
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): trigger gitlab ci on pull requests
  .gitlab-ci.yml
Due: buildah

chore(ci): check ops2deb configuration files with github actions
  .github/workflows/check_blueprints.yml
  .gitlab-ci.yml
  Makefile
Due: buildah

chore(ci): allow mr that do not modify blueprints to succeed
  .github/workflows/check_blueprints.yml
  .github/workflows/skip_check_blueprints.yml
Due: none

chore(docs): update bash snippets to use github urls
  Makefile
  assets/set_repository_priority
  docs/getting-started.md
Due: pages, buildah

chore(ci): use dorny/path-filters to skip ci jobs
  .github/workflows/check_blueprints.yml
  .github/workflows/skip_check_blueprints.yml
  Makefile
Due: none

feat(devops): add ops2deb
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

chore(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(terminal): add ghorg
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentations
  docs/components/devops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

feat(make): add make-exec
  Makefile
Due: none

feat(devops): add waypoint package
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add vagrant package
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add packer package
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(secops): add boundary package
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*
