Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages, buildah

generate_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: build
  script:
  - make generate-${component}
  - make build-${component}
  artifacts:
    paths:
    - build/**/*deb
    expire_in: 2 days

test_packages:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '20.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  stage: test
  ...

push_packages:
  parallel:
    matrix:
    - component: desktop
    - component: dev
    - component: devops
    - component: secops
    - component: terminal
  stage: push
  script:
  - make push-${component}

publish_s3:
  stage: publish
  script:
  - make publish

pages:
  stage: pages
  script:
  - make docs
  artifacts:
    paths:
    - public
  tags: []
  needs: []

buildah:
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - latest
      - rolling
      - '20.04'
      - '18.04'
    - DISTRO: debian
      VERSION:
      - latest
      - bookworm
      - bookworm-slim
      - bullseye
      - bullseye-slim
      - buster
      - buster-slim
  image: quay.io/buildah/stable:v1.23.1
  ...

chore(ci|docs): update documentation once a day
  .github/workflows/update_documentation.yml
Due: none

chore(bot): updated skaffold from 1.35.1 to 1.35.2
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/devops.md
Due: pages

feat(docs): improve readme
  README.md
Due: none

chore(bot): updated ops2deb from 0.18.0 to 0.18.1
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated ops2deb from 0.18.1 to 0.19.0
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(docs): change of pyenv and poetry versions
  README.md
Due: none

feat(docker): use multi-stages build
  Dockerfile
Due: buildah

feat(ci): add minideb images
  .github/workflows/check_blueprints.yml
  .gitlab-ci.yml
Due: buildah

chore(issue): use issue forms
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/package-request.yaml
Due: none

fix(issue): update package-request title
  .github/ISSUE_TEMPLATE/package-request.yaml
Due: none

chore(issue): update package-request fields
  .github/ISSUE_TEMPLATE/package-request.yaml
Due: none

chore(format): run pre-commit
  .github/ISSUE_TEMPLATE/package-request.yaml
  assets/set_repository_priority
Due: buildah

chore(bot): updated gping from 1.2.6 to 1.2.7
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/terminal.md
Due: pages

chore(bot): updated chezmoi from 2.9.5 to 2.10.0
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): updated feroxbuster from 2.4.1 to 2.5.0
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/secops.md
Due: pages

chore(bot): updated procs from 0.11.13 to 0.12.0
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
  buildah: any of: Dockerfile, .gitlab-ci.yml, assets/**/*
