Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, push_packages, publish_s3, build_images

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  tags: ["wakemebot"]

stages:
  - build
  - push
  - publish

.no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - ops2deb-*.yml
      when: on_success

.prod_no_schedule:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - ops2deb-*.yml
      when: on_success

.parallel_component:
  parallel:
    matrix:
      - component: desktop
      - component: dev
      - component: devops
      - component: secops
      - component: terminal

.parallel_distro:
  parallel:
    matrix:
      - DISTRO: ubuntu
        VERSION: ["latest", "rolling", "20.04", "18.04"]
      - DISTRO: debian
        VERSION:
          ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]

generate_packages:
  image: ghcr.io/upciti/ops2deb:latest
  stage: build
  extends:
    - .no_schedule
    - .parallel_component
  script:
    - make generate-${component}
    - make build-${component}
  artifacts:
    paths:
      - build/**/*deb
    expire_in: 2 days

push_packages:
  image: upciti/wakemebot:latest
  stage: push
  extends:
    - .prod_no_schedule
    - .parallel_component
  script:
    - make push-${component}

publish_s3:
  image: upciti/wakemebot:latest
  stage: publish
  extends: .prod_no_schedule
  script:
    - make publish

build_images:
  image: quay.io/buildah/stable:v1.23.1
  stage: publish
  tags: ["docker"]
  needs: []
  variables:
    REGISTRY_USER: "wakemeops"
  parallel:
    matrix:
      - IMAGE: ubuntu
        TAG: ["latest", "rolling", "20.04", "18.04"]
        REGISTRY_NAME: ubuntu
      - IMAGE: debian
        TAG: ["latest", "bookworm", "bookworm-slim", "bullseye", "bullseye-slim", "buster", "buster-slim"]
        REGISTRY_NAME: debian
      - IMAGE: bitnami/minideb
        TAG: ["latest", "bullseye", "buster"]
        REGISTRY_NAME: minideb
  retry: 1
  before_script:
    - IMAGE_NAME="${REGISTRY_USER}/${REGISTRY_NAME}:${TAG}"
    - buildah login -u ${REGISTRY_USER} -p ${REGISTRY_TOKEN} docker.io
  script:
    - >
      buildah bud \
        -f ./Dockerfile \
        -t ${IMAGE_NAME} \
        --build-arg IMAGE=${IMAGE} \
        --build-arg TAG=${TAG} \
        --label org.wakemeops.maintainers="WakeMeOps <wakemeops.com>" \
        --label org.wakemeops.base_image="docker.io/${IMAGE}:${TAG}" \
        --label org.wakemeops.commit="${CI_COMMIT_SHA}" \
        .
    - buildah push --authfile /run/containers/0/auth.json ${IMAGE_NAME}
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "schedule"'
      changes:
        - Dockerfile
        - .gitlab-ci.yml
        - assets/**/*
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $BUILD_IMAGES == "1"'

fix(delta): update homepage
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

feat(devops): add lazydocker
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(terminal): use install instead of mv
  ops2deb-terminal.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated flux from 0.28.5 to 0.29.0
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated terraform from 1.1.8 to 1.1.9
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): update blueprints Updated datree from 1.2.10 to 1.3.0 Updated flux from 0.29.0 to 0.29.1 Updated kubectl from 1.23.5 to 1.23.6 Updated kubeseal from 0.17.4 to 0.17.5
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated flux from 0.29.1 to 0.29.2
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

feat(ci): add wakemeops/ubuntu:22.04 image
  .gitlab-ci.yml
Due: build_images

fix(ci): escape image tags
  .gitlab-ci.yml
Due: build_images

chore(ci): test packages with ubuntu:22.04
  .github/workflows/check_blueprints.yml
Due: none

chore(docs): add ubuntu:22.04 image
  docs/usage.md
Due: none

chore(devops): update minio-client from 2022-02-26 to 2022-04-16
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(devops): update minio-server from 2022-02-26 to 2022-04-16
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(devops): use install instead of mv
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

fix(devops): add conflict between minio-client and mc
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated flux from 0.29.2 to 0.29.3
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated balena-etcher from 1.7.8 to 1.7.9
  ops2deb-desktop.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated vault from 1.10.0 to 1.10.1
  ops2deb-secops.yml
Due: generate_packages, push_packages, publish_s3

chore(bot): updated docker-slim from 1.37.5 to 1.37.6
  ops2deb-devops.yml
Due: generate_packages, push_packages, publish_s3
